body {
  background-color: #FFF7F0; 
  color: #030303; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

nav {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

#logo img {
  width: 64px; 
  aspect-ratio: 1; 
}

#call-to-action {
  background-color: #030303; 
  color: #FFF7F0; 
  text-decoration: none; 
  padding: 14px 45px; 
  border-radius: 1000px; 
}

.text-content {
  text-align: center; 
}

h1 {
  font-size: 56px; 
  margin-block-end: 22px; 
}

.text-content p {
  color: #7A746E;
}


h3 {
  margin-left: 20px;
}

.graphicdesign  {
  background-color: #755cde;
  display: flex;
  flex-direction: column;
  gap: 91px;
  
}

.graphicdesign img {
  margin-top: 20px;
  margin-right: 20px;
  width: 128px;
  height: 192px;
  align-self: flex-end;
}

.ilustrations {
  background-color: #eb7565;
  display: flex;
  flex-direction: column;
  gap: 168.13px;

}

.ilustrations img {
  margin-top: 20px;
  margin-right: 20px;
  width: 229.75px;
  height: 114.87px;
  align-self: flex-end;
}

.photography {
  background-color: #61c4b7;
  display: flex;
  flex-direction: column;
  gap: 66.35px;

}

.photography img {
  margin-top: 20px;
  margin-right: 20px;
  width: 86.66px;
  height: 216.65px;
  align-self: flex-end;
}


.image-container {
  display: flex; 
  gap: 24px; 
  justify-content: center;
}

.image-container a {
  border-radius: 5%;
  text-decoration: none;
  color: white;
  width: 354px;
  height: 364px;
  
}

.image-section {
display: flex;
margin-top: 112px;
height:1100px;
width: 445px;
}

#call-to-actions {
  background-color: #eb7565; 
  color: #FFF7F0; 
  text-decoration: none; 
  width: 228px;
  padding: 12px 45px; 
  border-radius: 1000px; 
  display: inline-block; 
}
.imagen-containers {
  display: flex; 
  flex-direction: row; 
  margin-top: 112px; /* Espaciado superior */
  width: 1110px; /* Ancho total del contenedor */
  height: 445px; /* Altura total del contenedor */
  margin-left: auto; 
  margin-right: auto; 
  gap: 125px; /* Espacio entre la imagen y el texto */
}

.imagen-containers img {
  width: 445px; 
  height: 445px; 
  object-fit: cover; 
}